<div class="step-content step-1-intro">
    <h2 class="step-title">{{localize "DAEMON_WIZARD.Steps.Intro"}}</h2>
    <p class="step-description">{{localize "DAEMON_WIZARD.Intro.Description"}}</p>

    <ul class="intro-list">
        <li>{{localize "DAEMON_WIZARD.Steps.Backstory"}}</li>
        <li>{{localize "DAEMON_WIZARD.Steps.Attributes"}}</li>
        <li>{{localize "DAEMON_WIZARD.Steps.Aprimoramentos"}}</li>
        <li>{{localize "DAEMON_WIZARD.Steps.Pericias"}}</li>
        <li>{{localize "DAEMON_WIZARD.Steps.PericiasCombate"}}</li>
        <li>{{localize "DAEMON_WIZARD.Steps.PVsIP"}}</li>
        <li>{{localize "DAEMON_WIZARD.Steps.PontosHeroicos"}}</li>
        <li>{{localize "DAEMON_WIZARD.Steps.Equipamentos"}}</li>
        <li>{{localize "DAEMON_WIZARD.Steps.Extras"}}</li>
    </ul>
</div>
